@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    background-color: #00CCFF;
    color: #333;
}


.header {
    background-color: #0099CC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.logo .pacman {
    width: 30px;
    height: 30px;
    background-color: #FFDE00;
    border-radius: 50%;
    position: relative;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    margin-right: 5px;
}

.search-bar {
    width: 50%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-family: 'VT323', monospace;
}

.search-btn {
    background-color: #FFDE00;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px;
    font-family: 'VT323', monospace;
    box-shadow: 3px 3px 0px black;
}

.search-btn:hover {
    background-color: #FF0000;
    color: #F4F4F4;
}


h1 {
    text-align: center;
    font-size: 4rem;
    margin: -10px 0 20px;
    text-shadow: 2px 2px 0px black;
    color:#010DF1;
}

.main {
    /* background-color: #5633DE; */
    background-color: #FFDE00;
    margin: 0px auto;
    padding: 20px;
    max-width: 900px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0099CC;
    color: white;
    margin-top: 50px;
}

.results-section {
    min-height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-title img {
    width: 9%;
}

.main-title h1 {
    margin-top: 11px;
}

h3 {
    font-size: 2.5rem;
}
.card-content-game {
    display: flex;
    gap: 1%;
    width: 100%;
}

.card-content-game-img {
    max-width: 150px;
}

.card-content-game-info {
    display: flex;    
    flex-direction: column;
    gap: 3%;
}

.search-bar:focus {
  outline: none; 
  box-shadow: none; 
}



/* ! Cards */
.errorMessage {
    color: white;
    padding: 1%;
    font-size: 1.225rem;
}


.card {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 5px 0px #333;
}


.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #FF0000;
    transition: all 0.5s ease-in-out;
    white-space: nowrap;

}

.card-title{
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    transition: all 0.5s ease-in-out;
    width: 126px;
    height: auto;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    color:#f4f4f4;
    text-shadow: 2px 2px 0px black;
}

.card-image {
    min-width: 700px;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 150px;
}

.card-info {
    max-height: 0;
    height: 255px;
    overflow: scroll;
    padding: 0 20px;
    background-color: #FF0000;
    transition: max-height 0.1s ease-out, padding 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 5%;
    color:#f4f4f4;
    text-shadow: 2px 2px 0px black;
}

.card.open .card-info {
    max-height: 500px;
    padding: 20px;
}


/* darkmode */

body.dark-mode{
    background-color: #090401;
}

.header.dark-mode{
    background-color: #1E1870;
}

.search-btn.dark-mode{
    background-color: #F4F4F4;
    color: #010DF1;
}

.search-btn:hover.dark-mode{
    background-color: #FF0000;
    color: #F4F4F4;
}

.search-bar.dark-mode{
    background-color: #090401;
    color: #F4F4F4;
}

h1.dark-mode{
    color: #DE94BF;
    /* color: #EB4DB6; */
}

.card-header.dark-mode {
    
    background-color: #DE94BF;
    color: #010DF1;
    

}

.card.dark-mode{
    background-color: #DE94BF;
    color: #010DF1;
}


.card-info.dark-mode{
    background-color: #DE94BF;
    color: #010DF1;

}

.card-title.dark-mode{
    color: #010DF1;
    text-shadow: 2px 2px 0px black;
}

.main.dark-mode{
    background-color: #1E1870;
    color: white;
}

footer.dark-mode{
    background-color:#1E1870;
    color: white;
}


button.dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: all 0.3s ease;
}

button.dark-mode-toggle svg {
    transition: transform 0.3s ease;
    /* filter: drop-shadow(0 3px 4px #1E1870); */
    filter: drop-shadow(3px 3px 0px black);
    
    
}

body.dark-mode button.dark-mode-toggle svg {
    transform: rotate(360deg); 
}

button.dark-mode-toggle:hover::after {
    content: "LightMode ON"; 
    position: absolute;
    bottom: 70px; 
    right: 0;
    background-color: #010DF1;
    color: #f4f4f4;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
    opacity: 0; 
    animation: showNotification 0.3s forwards;
}

body.dark-mode button.dark-mode-toggle:hover::after {
    content: "DarkMode ON"; 
    position: absolute;
    bottom: 70px; 
    right: 0;
    background-color: #f4f4f4;
    color: #010DF1;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
    opacity: 0; 
    animation: showNotification 0.3s forwards;
}



@keyframes showNotification {
    to {
        opacity: 1;
    }
}