@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    background-color: #33DED2;
    color: #333;
}

.header {
    background-color: #0099CC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.logo .pacman {
    width: 30px;
    height: 30px;
    background-color: #FFDE00;
    border-radius: 50%;
    position: relative;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    margin-right: 5px;
}

.search-bar {
    width: 50%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-family: 'VT323', monospace;
}

.search-btn {
    background-color: #FFDE00;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px;
    font-family: 'VT323', monospace;
}

h1 {
    text-align: center;
    color: #EB4DB6;
    font-size: 4rem;
    margin: -10px 0 20px;
    text-shadow: 2px 2px 0px black;
}

.main {
    background-color: #5633DE;
    margin: 0px auto;
    padding: 20px;
    max-width: 900px;
    border-radius: 10px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #0099CC;
    color: white;
    margin-top: 50px;
}

.results-section {
    min-height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-title img {
    width: 9%;
}

.main-title h1 {
    margin-top: 11px;
}

h3 {
    font-size: 2.5rem;
}
.card-content-game {
    display: flex;
    gap: 1%;
    width: 100%;
}

.card-content-game-img {
    max-width: 150px;
}

.card-content-game-info {
    display: flex;    
    flex-direction: column;
    gap: 3%;
}




/* ! Cards */
.errorMessage {
    color: white;
    padding: 1%;
    font-size: 1.225rem;
}


.card {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #f4f4f4;
    transition: all 0.5s ease-in-out;
    white-space: nowrap;

}

.card-title{
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    transition: all 0.5s ease-in-out;
    width: 126px;
    height: auto;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
}

.card-image {
    min-width: 700px;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 150px;
}

.card-info {
    max-height: 0;
    height: 700px;
    overflow: scroll;
    padding: 0 20px;
    background-color: #f9f9f9;
    transition: max-height 0.1s ease-out, padding 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.card.open .card-info {
    max-height: 500px;
    padding: 20px;
}
